.top-bar {
  display: flex;
  align-items: center;

  height: 44px;
  /* padding: 0 12px; */

  background: #f2f2f7;
  border-bottom: 1px solid rgba(60, 60, 67, 0.36);

  flex-shrink: 0;
}

.top-bar > .lookup-bar {
  margin-left: auto;
}
